# 游늷 Manipula칞칚o de Tabela `Pedido` com SQLAlchemy ORM

Este notebook demonstra o uso do **SQLAlchemy ORM** para criar, explorar e manipular a tabela `Pedido`.

## Criar conex칚o com o banco e definir a tabela

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Float, Integer, String
from sqlalchemy.orm import declarative_base, sessionmaker

In [2]:
# Criando conex칚o com o banco de dados SQLite
engine = create_engine("sqlite:///superstore.db", echo=True)

# Criando a base do ORM
Base = declarative_base()

# Criando uma classe que representa a tabela "pedidos"
class Pedido(Base):
    __tablename__ = "pedidos"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    nome_cliente = Column(String)
    cidade = Column(String)
    categoria = Column(String)
    quantidade = Column(Integer)
    vendas = Column(Float)

# Criando a tabela no banco
Base.metadata.create_all(engine)

# Criando uma sess칚o para manipular os dados
Session = sessionmaker(bind=engine)
session = Session()

2025-11-03 18:27:32,789 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-03 18:27:32,790 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("pedidos")
2025-11-03 18:27:32,790 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-11-03 18:27:32,791 INFO sqlalchemy.engine.Engine COMMIT

## Criar um novo pedido

In [3]:
novo_pedido = Pedido(nome_cliente="Carlos Silva", cidade="S칚o Paulo", categoria="Tecnologia", quantidade=5, vendas=1200.50)
novo_pedido2 = Pedido(nome_cliente="Alberto Santos", cidade="S칚o Paulo", categoria="Tecnologia", quantidade=15, vendas=200.00)
novo_pedido3 = Pedido(**{'nome_cliente': "Alberto Santos", 'cidade':"S칚o Paulo", 'categoria':"Tecnologia", 'quantidade':15, 'vendas':200.00})

# Adicionando e salvando no banco
session.add(novo_pedido)
session.add(novo_pedido2)
session.add(novo_pedido3)
session.commit()

2025-11-03 18:27:32,797 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-03 18:27:32,799 INFO sqlalchemy.engine.Engine INSERT INTO pedidos (nome_cliente, cidade, categoria, quantidade, vendas) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-11-03 18:27:32,799 INFO sqlalchemy.engine.Engine [generated in 0.00011s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Carlos Silva', 'S칚o Paulo', 'Tecnologia', 5, 1200.5)
2025-11-03 18:27:32,800 INFO sqlalchemy.engine.Engine INSERT INTO pedidos (nome_cliente, cidade, categoria, quantidade, vendas) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-11-03 18:27:32,801 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Alberto Santos', 'S칚o Paulo', 'Tecnologia', 15, 200.0)
2025-11-03 18:27:32,802 INFO sqlalchemy.engine.Engine INSERT INTO pedidos (nome_cliente, cidade, categoria, quantidade, vendas) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-11-03 18:27:32,802 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Alberto Santos', 'S칚o Paulo', 'Tecnologia', 15, 200.0)
2025-11-03 18:27:32,803 INFO sqlalchemy.engine.Engine COMMIT

## Buscar todos os pedidos

In [4]:
pedidos = session.query(Pedido).all()
print('\n')

# Exibir os pedidos
for pedido in pedidos:
    print(pedido.id, pedido.nome_cliente, pedido.cidade, pedido.categoria, pedido.quantidade, pedido.vendas)

2025-11-03 18:27:32,812 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-03 18:27:32,814 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
2025-11-03 18:27:32,815 INFO sqlalchemy.engine.Engine [generated in 0.00049s] ()


2 Alberto Santos S칚o Paulo Tecnologia 15 200.0
3 Carlos Silva S칚o Paulo Tecnologia 5 1200.5
4 Alberto Santos S칚o Paulo Tecnologia 15 200.0
5 Carlos Silva S칚o Paulo Tecnologia 5 1200.5
6 Alberto Santos S칚o Paulo Tecnologia 15 200.0
7 Alberto Santos S칚o Paulo Tecnologia 15 200.0
8 Carlos Silva S칚o Paulo Tecnologia 5 1200.5
9 Alberto Santos S칚o Paulo Tecnologia 15 200.0
10 Alberto Santos S칚o Paulo Tecnologia 15 200.0

## Filtrar pedidos com vendas > 1000

In [5]:
pedidos_grandes = session.query(Pedido).filter(Pedido.vendas > 1000).all()

print('\n')
for pedido in pedidos_grandes:
    print(pedido.nome_cliente, pedido.vendas)

2025-11-03 18:27:32,823 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.vendas > ?
2025-11-03 18:27:32,825 INFO sqlalchemy.engine.Engine [generated in 0.00125s] (1000,)


Carlos Silva 1200.5
Carlos Silva 1200.5
Carlos Silva 1200.5

## Buscar um pedido e atualizar a quantidade

In [6]:
pedido = session.query(Pedido).filter_by(nome_cliente="Carlos Silva").first()
pedido.quantidade = 10

# Salvar no banco
session.commit()

2025-11-03 18:27:32,833 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.nome_cliente = ?
 LIMIT ? OFFSET ?
2025-11-03 18:27:32,834 INFO sqlalchemy.engine.Engine [generated in 0.00100s] ('Carlos Silva', 1, 0)
2025-11-03 18:27:32,836 INFO sqlalchemy.engine.Engine UPDATE pedidos SET quantidade=? WHERE pedidos.id = ?
2025-11-03 18:27:32,836 INFO sqlalchemy.engine.Engine [generated in 0.00052s] (10, 3)
2025-11-03 18:27:32,837 INFO sqlalchemy.engine.Engine COMMIT

In [7]:
temp = session.query(Pedido).filter(Pedido.vendas > 1000).all()
for pedido in temp:
    print(pedido.quantidade)

2025-11-03 18:27:32,849 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-03 18:27:32,850 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.vendas > ?
2025-11-03 18:27:32,851 INFO sqlalchemy.engine.Engine [cached since 0.02735s ago] (1000,)
10
5
5

## Buscar e excluir um pedido

In [8]:
pedido_para_excluir = session.query(Pedido).filter_by(nome_cliente="Carlos Silva").first()
session.delete(pedido_para_excluir)
session.commit()

2025-11-03 18:27:32,858 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.nome_cliente = ?
 LIMIT ? OFFSET ?
2025-11-03 18:27:32,859 INFO sqlalchemy.engine.Engine [cached since 0.02612s ago] ('Carlos Silva', 1, 0)
2025-11-03 18:27:32,863 INFO sqlalchemy.engine.Engine DELETE FROM pedidos WHERE pedidos.id = ?
2025-11-03 18:27:32,864 INFO sqlalchemy.engine.Engine [generated in 0.00099s] (3,)
2025-11-03 18:27:32,865 INFO sqlalchemy.engine.Engine COMMIT

In [13]:
# v치rios de uma vez
session.add_all([
    Pedido(nome_cliente="Ana", cidade="Rio", categoria="M칩veis", quantidade=2, vendas=300.0),
    Pedido(nome_cliente="Beto", cidade="BH",  categoria="Tecnologia", quantidade=1, vendas=1500.0),
])
session.commit()  # ou use session.begin() como contexto

2025-11-03 18:27:48,557 INFO sqlalchemy.engine.Engine INSERT INTO pedidos (nome_cliente, cidade, categoria, quantidade, vendas) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-11-03 18:27:48,557 INFO sqlalchemy.engine.Engine [cached since 15.76s ago (insertmanyvalues) 1/2 (ordered; batch not supported)] ('Ana', 'Rio', 'M칩veis', 2, 300.0)
2025-11-03 18:27:48,558 INFO sqlalchemy.engine.Engine INSERT INTO pedidos (nome_cliente, cidade, categoria, quantidade, vendas) VALUES (?, ?, ?, ?, ?) RETURNING id
2025-11-03 18:27:48,558 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/2 (ordered; batch not supported)] ('Beto', 'BH', 'Tecnologia', 1, 1500.0)
2025-11-03 18:27:48,559 INFO sqlalchemy.engine.Engine COMMIT

#### One or None

In [27]:
# qs = session.query(Pedido).filter(Pedido.categoria == "Tecnologia", Pedido.vendas > 1300).one()
qs = session.query(Pedido).filter(Pedido.categoria == "Tecnologia", Pedido.vendas > 1300).one_or_none()

if qs:
    print(qs.nome_cliente)

2025-11-03 18:33:46,003 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.categoria = ? AND pedidos.vendas > ?
2025-11-03 18:33:46,005 INFO sqlalchemy.engine.Engine [cached since 116s ago] ('Tecnologia', 1300)
Beto

#### Deletar em massa

In [71]:
apagados = session.query(Pedido).filter(Pedido.vendas < 300).delete()
session.commit()
print(f"Removidos (vendas < 100): {apagados}")

2025-11-03 20:49:40,357 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-03 20:49:40,358 INFO sqlalchemy.engine.Engine DELETE FROM pedidos WHERE pedidos.vendas < ?
2025-11-03 20:49:40,358 INFO sqlalchemy.engine.Engine [cached since 13.52s ago] (300,)
2025-11-03 20:49:40,359 INFO sqlalchemy.engine.Engine COMMIT
Removidos (vendas < 100): 6

#### Outros filtros

In [34]:
qs = session.query(Pedido).filter(
    Pedido.categoria.in_(["Tecnologia", "M칩veis"]),
    Pedido.vendas.between(200, 1000),
    Pedido.nome_cliente.ilike("%santos")
).all()

qs

2025-11-03 18:43:43,104 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.categoria IN (?, ?) AND pedidos.vendas BETWEEN ? AND ? AND lower(pedidos.nome_cliente) LIKE lower(?)
2025-11-03 18:43:43,105 INFO sqlalchemy.engine.Engine [cached since 128.6s ago] ('Tecnologia', 'M칩veis', 200, 1000, '%santos')

[<__main__.Pedido at 0x77cee7fde990>,
 <__main__.Pedido at 0x77cee7e1cc10>,
 <__main__.Pedido at 0x77cee7e1cd50>,
 <__main__.Pedido at 0x77cee7e1ce90>,
 <__main__.Pedido at 0x77cee7ff7bd0>,
 <__main__.Pedido at 0x77cee7ff6e90>]

#### Group by

In [37]:
# from sqlalchemy import func
# # vendas totais por cidade
# res = session.query(Pedido.cidade, func.sum(Pedido.vendas).label("total"))\
#              .group_by(Pedido.cidade)\
#              .having(func.sum(Pedido.vendas) > 500)\
#              .order_by(func.sum(Pedido.vendas).desc())\
#              .all()

#### Order by

In [40]:
top5 = session.query(Pedido).order_by(Pedido.quantidade.desc()).limit(5).all()
[i.nome_cliente for i in top5]

2025-11-03 19:10:24,492 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos ORDER BY pedidos.quantidade DESC
 LIMIT ? OFFSET ?
2025-11-03 19:10:24,494 INFO sqlalchemy.engine.Engine [cached since 17.53s ago] (5, 0)

['Alberto Santos',
 'Alberto Santos',
 'Alberto Santos',
 'Alberto Santos',
 'Alberto Santos']

#### Busca por chave prim치ria

In [43]:
outro_pedido = session.get(Pedido, 4)
if outro_pedido is None:
    print("N칚o existe registro com id=1.")
else:
    print(outro_pedido.nome_cliente, outro_pedido.quantidade)

Alberto Santos 15

#### Exists

In [61]:
from sqlalchemy import exists

tem_moveis = session.query(exists().where(Pedido.categoria == "M칩veis")).scalar()

tem_moveis

2025-11-03 20:30:35,050 INFO sqlalchemy.engine.Engine SELECT EXISTS (SELECT *
FROM pedidos
WHERE pedidos.categoria = ?) AS anon_1
2025-11-03 20:30:35,050 INFO sqlalchemy.engine.Engine [generated in 0.00082s] ('M칩veis',)

True

In [60]:
qtd = session.query(Pedido).filter_by(categoria="Tecnologia").count()
qtd

2025-11-03 20:30:24,857 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
WHERE pedidos.categoria = ?) AS anon_1
2025-11-03 20:30:24,859 INFO sqlalchemy.engine.Engine [cached since 15.43s ago] ('Tecnologia',)

9

#### Usando func

In [63]:
from sqlalchemy import func

venda_media = session.query(func.avg(Pedido.vendas)).scalar()
venda_media

2025-11-03 20:39:22,120 INFO sqlalchemy.engine.Engine SELECT avg(pedidos.vendas) AS avg_1
FROM pedidos
2025-11-03 20:39:22,122 INFO sqlalchemy.engine.Engine [cached since 73.63s ago] ()

540.1

#### Usando groupby

In [67]:
res = session.query(Pedido.categoria, func.avg(Pedido.vendas)).group_by(Pedido.categoria).all()
res

2025-11-03 20:42:33,559 INFO sqlalchemy.engine.Engine SELECT pedidos.categoria AS pedidos_categoria, avg(pedidos.vendas) AS avg_1
FROM pedidos GROUP BY pedidos.categoria
2025-11-03 20:42:33,560 INFO sqlalchemy.engine.Engine [cached since 52.38s ago] ()

[('M칩veis', 300.0), ('Tecnologia', 566.7777777777778)]

#### Groupby e orderby

In [69]:
venda_media_por_categoria = (session.query(Pedido.categoria, func.avg(Pedido.vendas).label("preco_medio"))
                          .group_by(Pedido.categoria)
                          .order_by(func.avg(Pedido.vendas).desc())
                          .all())
venda_media_por_categoria

2025-11-03 20:42:54,030 INFO sqlalchemy.engine.Engine SELECT pedidos.categoria AS pedidos_categoria, avg(pedidos.vendas) AS preco_medio
FROM pedidos GROUP BY pedidos.categoria ORDER BY avg(pedidos.vendas) DESC
2025-11-03 20:42:54,031 INFO sqlalchemy.engine.Engine [cached since 195.3s ago] ()

[('Tecnologia', 566.7777777777778), ('M칩veis', 300.0)]

## Abrir a tabela no pandas (ORM)

In [9]:
pedidos[0].__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x77cee7fc7b90>}

In [10]:
import pandas as pd

# Buscando todos os registros da tabela 'pedidos'
pedidos = session.query(Pedido).all()

# Convertendo para um DataFrame Pandas
# df = pd.DataFrame([pedido.__dict__ for pedido in pedidos])
df = pd.DataFrame(map(lambda pedido: pedido.__dict__, pedidos))

# Removendo a coluna '_sa_instance_state' (gerada pelo SQLAlchemy)
df.drop(columns=['_sa_instance_state'], inplace=True, errors='ignore')

# Exibindo os dados
df

2025-11-03 18:27:33,193 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-03 18:27:33,193 INFO sqlalchemy.engine.Engine SELECT pedidos.id AS pedidos_id, pedidos.nome_cliente AS pedidos_nome_cliente, pedidos.cidade AS pedidos_cidade, pedidos.categoria AS pedidos_categoria, pedidos.quantidade AS pedidos_quantidade, pedidos.vendas AS pedidos_vendas
FROM pedidos
2025-11-03 18:27:33,194 INFO sqlalchemy.engine.Engine [cached since 0.3793s ago] ()

   id    nome_cliente     cidade  vendas   categoria  quantidade
0   2  Alberto Santos  S칚o Paulo   200.0  Tecnologia          15
1   4  Alberto Santos  S칚o Paulo   200.0  Tecnologia          15
2   5    Carlos Silva  S칚o Paulo  1200.5  Tecnologia           5
3   6  Alberto Santos  S칚o Paulo   200.0  Tecnologia          15
4   7  Alberto Santos  S칚o Paulo   200.0  Tecnologia          15
5   8    Carlos Silva  S칚o Paulo  1200.5  Tecnologia           5
6   9  Alberto Santos  S칚o Paulo   200.0  Tecnologia          15
7  10  Alberto Santos  S칚o Paulo   200.0  Tecnologia          15

In [11]:
# [pedido.__dict__ for pedido in pedidos]

## Abrir a tabela no pandas (mais eficiente)

In [12]:
import pandas as pd
from sqlalchemy import create_engine

# Criando conex칚o com o banco
engine = create_engine("sqlite:///superstore.db")

# Lendo a tabela diretamente para Pandas (muito mais r치pido!)
df = pd.read_sql("SELECT * FROM pedidos", con=engine)

# Exibindo as primeiras linhas
df.head()

   id    nome_cliente     cidade   categoria  quantidade  vendas
0   2  Alberto Santos  S칚o Paulo  Tecnologia          15   200.0
1   4  Alberto Santos  S칚o Paulo  Tecnologia          15   200.0
2   5    Carlos Silva  S칚o Paulo  Tecnologia           5  1200.5
3   6  Alberto Santos  S칚o Paulo  Tecnologia          15   200.0
4   7  Alberto Santos  S칚o Paulo  Tecnologia          15   200.0

## Apagar tabelas do banco

In [ ]:
session.close()

# Derruba tudo que est치 mapeado no Base
Base.metadata.drop_all(bind=engine)

## Apagar arquivo do banco

In [ ]:
session.close()

import os
if os.path.exists("superstore.db"):
    os.remove("superstore.db")