# Análise de Reviews de Filmes com Pandas

Este notebook utiliza o dataset **IMDB Dataset of 50K Movie Reviews** para analisar e manipular reviews de filmes usando funções avançadas do Pandas.

O objetivo é realizar transformações textuais, análises exploratórias e responder a diversas perguntas baseadas nos dados.

## Importando Bibliotecas e Carregando os Dados

In [14]:
import pandas as pd

# Carregar os dados
file_path = '../data/IMDB Dataset.csv'
df = pd.read_csv(file_path)
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [15]:
df['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

## Exploração Inicial dos Dados

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [17]:
df.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

### Qual a distribuição das classes de sentimento?

In [18]:
df['sentiment'].value_counts()

sentiment
positive    25000
negative    25000
Name: count, dtype: int64

## Limpeza e Transformação de Dados

### Criar uma nova coluna com o comprimento de cada review

In [19]:
df['review_length'] = df['review'].str.len()
df[['review', 'review_length']].head()

                                              review  review_length
0  One of the other reviewers has mentioned that ...           1761
1  A wonderful little production. <br /><br />The...            998
2  I thought this was a wonderful way to spend ti...            926
3  Basically there's a family where a little boy ...            748
4  Petter Mattei's "Love in the Time of Money" is...           1317

### Converter todas as reviews para minúsculas

In [20]:
df['review_lower'] = df['review'].str.lower()
df[['review', 'review_lower']].head()

,review,review_lower
0,One of the other reviewers has mentioned that ...,one of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,a wonderful little production. <br /><br />the...
2,I thought this was a wonderful way to spend ti...,i thought this was a wonderful way to spend ti...
3,Basically there's a family where a little boy ...,basically there's a family where a little boy ...
4,"Petter Mattei's ""Love in the Time of Money"" is...","petter mattei's ""love in the time of money"" is..."

### Criar uma nova coluna indicando se a review contém a palavra 'amazing'

In [21]:
df['contains_amazing'] = df['review'].str.contains('amazing', case=False)
df[['review', 'contains_amazing']].head()

                                              review  contains_amazing
0  One of the other reviewers has mentioned that ...             False
1  A wonderful little production. <br /><br />The...             False
2  I thought this was a wonderful way to spend ti...             False
3  Basically there's a family where a little boy ...             False
4  Petter Mattei's "Love in the Time of Money" is...             False

In [22]:
df['contains_amazing'].value_counts()

contains_amazing
False    47521
True      2479
Name: count, dtype: int64

### Filtrar reviews que mencionam 'bad'

In [23]:
df_bad = df[df['review'].str.contains('bad', case=False)]
print(len(df_bad) / len(df) )
df_bad.head()

0.25408

,review,sentiment,review_length,review_lower,contains_amazing
7,"This show was an amazing, fresh & innovative i...",negative,934,"this show was an amazing, fresh & innovative i...",True
8,Encouraged by the positive comments about this...,negative,681,encouraged by the positive comments about this...,False
12,So im not a big fan of Boll's work but then ag...,negative,2227,so im not a big fan of boll's work but then ag...,False
14,This a fantastic movie of three prisoners who ...,positive,275,this a fantastic movie of three prisoners who ...,False
15,"Kind of drawn in by the erotic scenes, only to...",negative,830,"kind of drawn in by the erotic scenes, only to...",False

### Criar uma coluna categorizando as reviews pelo tamanho
- Curta: até 500 caracteres
- Média: de 500 a 1000 caracteres
- Longa: mais de 1000 caracteres

In [24]:
df['review_category'] = pd.cut(df['review_length'], bins=[0, 500, 1000, float('inf')], labels=['Curta', 'Média', 'Longa'])
# df['review_category'] = pd.cut(df['review_length'], bins=3, labels=['Curta', 'Média', 'Longa'])
df[['review_length', 'review_category']].head()

   review_length review_category
0           1761           Longa
1            998           Média
2            926           Média
3            748           Média
4           1317           Longa

In [25]:
df['review_category'].value_counts()

review_category
Longa    24001
Média    21016
Curta     4983
Name: count, dtype: int64

## Questões

### Quais reviews têm mais de 1000 caracteres?

In [26]:
df[ df['review_length'] > 1000 ]

,review,sentiment,review_length,review_lower,contains_amazing,review_category
0,One of the other reviewers has mentioned that ...,positive,1761,one of the other reviewers has mentioned that ...,False,Longa
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,1317,"petter mattei's ""love in the time of money"" is...",False,Longa
12,So im not a big fan of Boll's work but then ag...,negative,2227,so im not a big fan of boll's work but then ag...,False,Longa
17,This movie made it into one of my top 10 most ...,negative,1322,this movie made it into one of my top 10 most ...,False,Longa
20,After the success of Die Hard and it's sequels...,positive,1813,after the success of die hard and it's sequels...,False,Longa
...,...,...,...,...,...,...
49991,"Les Visiteurs, the first movie about the medie...",negative,1498,"les visiteurs, the first movie about the medie...",False,Longa
49993,Robert Colomb has two full-time jobs. He's kno...,negative,2717,robert colomb has two full-time jobs. he's kno...,False,Longa
49995,I thought this movie did a down right good job...,positive,1008,i thought this movie did a down right good job...,False,Longa
49997,I am a Catholic taught in parochial elementary...,negative,1280,i am a catholic taught in parochial elementary...,False,Longa
49998,I'm going to have to disagree with the previou...,negative,1234,i'm going to have to disagree with the previou...,False,Longa

### Quantas reviews contêm a palavra 'excellent'?

In [27]:
len(df[ df['review'].str.contains('excellent', case=False) ])

3625

### Qual a média de comprimento das reviews positivas e negativas?

In [28]:
df.groupby('sentiment')['review_length'].mean()

sentiment
negative    1294.06436
positive    1324.79768
Name: review_length, dtype: float64

### Filtre apenas as reviews negativas que mencionam 'boring'

In [29]:
aux = df[ (df['sentiment'] == 'negative') & (df['review'].str.contains('boring', case=False))]
aux

,review,sentiment,review_length,review_lower,contains_amazing,review_category
8,Encouraged by the positive comments about this...,negative,681,encouraged by the positive comments about this...,False,Média
23,"First of all, let's get a few things straight ...",negative,1767,"first of all, let's get a few things straight ...",False,Longa
34,"I watched this film not really expecting much,...",negative,1300,"i watched this film not really expecting much,...",False,Longa
63,"Besides being boring, the scenes were oppressi...",negative,267,"besides being boring, the scenes were oppressi...",False,Curta
97,"Well, I like to watch bad horror B-Movies, cau...",negative,758,"well, i like to watch bad horror b-movies, cau...",False,Média
...,...,...,...,...,...,...
49913,Why does this movie fall WELL below standards?...,negative,1438,why does this movie fall well below standards?...,False,Longa
49939,Depending entirely on your own personal state ...,negative,1927,depending entirely on your own personal state ...,False,Longa
49946,One of the greatest lessons I ever had in how ...,negative,2901,one of the greatest lessons i ever had in how ...,False,Longa
49948,"It is the early morning of our discontent, and...",negative,5847,"it is the early morning of our discontent, and...",False,Longa
49994,This is your typical junk comedy.<br /><br />T...,negative,759,this is your typical junk comedy.<br /><br />t...,False,Média

In [30]:
aux = aux.reset_index(drop=True)
aux['review'][0]

"Encouraged by the positive comments about this film on here I was looking forward to watching this film. Bad mistake. I've seen 950+ films and this is truly one of the worst of them - it's awful in almost every way: editing, pacing, storyline, 'acting,' soundtrack (the film's only song - a lame country tune - is played no less than four times). The film looks cheap and nasty and is boring in the extreme. Rarely have I been so happy to see the end credits of a film. <br /><br />The only thing that prevents me giving this a 1-score is Harvey Keitel - while this is far from his best performance he at least seems to be making a bit of an effort. One for Keitel obsessives only."

### Qual a proporção de reviews curtas, médias e longas?

In [31]:
df['review_category'].value_counts(normalize=True)

review_category
Longa    0.48002
Média    0.42032
Curta    0.09966
Name: proportion, dtype: float64

### Quais são as 5 reviews mais longas no dataset?

In [32]:
sub_df = df.sort_values('review_length', ascending=False).head()
sub_df

,review,sentiment,review_length,review_lower,contains_amazing,review_category
31481,Match 1: Tag Team Table Match Bubba Ray and Sp...,positive,13704,match 1: tag team table match bubba ray and sp...,False,Longa
40521,There's a sign on The Lost Highway that says:<...,positive,12988,there's a sign on the lost highway that says:<...,False,Longa
31240,"(Some spoilers included:)<br /><br />Although,...",positive,12930,"(some spoilers included:)<br /><br />although,...",False,Longa
31436,"Back in the mid/late 80s, an OAV anime by titl...",positive,12129,"back in the mid/late 80s, an oav anime by titl...",False,Longa
5708,**Attention Spoilers**<br /><br />First of all...,positive,10363,**attention spoilers**<br /><br />first of all...,True,Longa

### Quantas reviews mencionam ao mesmo tempo 'amazing' e 'boring'?

In [33]:
# len ( df[ (df['review'].str.contains('amazing', case=False)) & (df['review'].str.contains('boring', case=False)) ] )
# len ( df [ (df['contains_amazing']) & (df['review'].str.contains('boring', case=False)) ] )
len ( df [ (df['contains_amazing']) & (df['review'].str.contains('BoRIng', case=False)) ] )

141

### Existe alguma relação entre o tamanho da review e a presença da palavra "amazing"?

In [34]:
# 1 coluna a ser agrupada
# 1 coluna vai ser utilizada como a coluna de critério
# 1 métrica estatística de critério

## df.groupby(coluna a ser agrupada)[coluna de critério].metrica()
## df.groupby('')[''].mean()

df.groupby('contains_amazing')['review_length'].mean()

contains_amazing
False    1292.055091
True     1642.517547
Name: review_length, dtype: float64

### Existe diferença no tamanho médio das reviews entre aquelas que contêm a palavra 'movie' e as que não contêm?

In [35]:
df['contains_movie'] = df['review'].str.contains('movie', case=False)
df.groupby('contains_movie')['review_length'].mean()

contains_movie
False    1256.507726
True     1338.026000
Name: review_length, dtype: float64

## Mais exercícios

### Polaridade “caseira” por contagem de palavras
1. Crie duas listas pequenas: positivas = [...] e negativas = [...] (5–8 palavras cada).
2. Crie as colunas:
   - pos_hits: número de ocorrências das palavras de positivas na review (contagem por regex com bordas , case=False).
   - neg_hits: número de ocorrências das palavras de negativas.
3. Crie rule_sentiment:
   - "positive" se pos_hits > neg_hits, senão "negative".

In [74]:
# Listas simples de léxico (ajuste como quiser)
positivas = ["good","great","excellent","love","amazing","wonderful","fantastic","best"]
negativas = ["bad","terrible","awful","hate","boring","worst","poor","horrible"]

# Padrões regex de palavra inteira, case-insensitive (sem usar 're')
pat_pos = r"(?i)\b(?:{})\b".format("|".join(positivas))
pat_neg = r"(?i)\b(?:{})\b".format("|".join(negativas))

# Contagens
df["pos_hits"] = df["review"].fillna("").str.count(pat_pos)
df["neg_hits"] = df["review"].fillna("").str.count(pat_neg)

# Regra de sentimento (padrão 'negative', vira 'positive' quando pos_hits > neg_hits)
df["rule_sentiment"] = "negative"
mask_pos = df["pos_hits"] > df["neg_hits"]
df.loc[mask_pos, "rule_sentiment"] = "positive"

df.head(2)

,review,sentiment,review_length,review_lower,contains_amazing,review_category,contains_movie,pos_hits,neg_hits,rule_sentiment,review_clean,word_count,punct_count,punct_density
0,One of the other reviewers has mentioned that ...,positive,1761,one of the other reviewers has mentioned that ...,False,Longa,False,0,0,negative,One of the other reviewers has mentioned that ...,307,52,0.169381
1,A wonderful little production. <br /><br />The...,positive,998,a wonderful little production. <br /><br />the...,False,Média,False,2,0,positive,A wonderful little production. <br /><br />The...,162,13,0.080247

###  Tokenização básica & densidade de pontuação
1. Crie review_clean removendo quebras de linha, múltiplos espaços e aplicando .str.strip().
2. Crie:
   - word_count: quantidade de palavras (review_clean.str.split().str.len()).
   - punct_count: contagem de pontuações simples [.,!?;:] (regex).
   - punct_density: punct_count / word_count (trate divisões por zero).
3. Mostre:
   - Média e mediana de word_count e punct_density por sentiment.
   - Transformar word_count em faixa de valores (short, medium, long).

In [76]:
# Limpeza leve
df["review_clean"] = (
    df["review"]
    .fillna("")
    .str.replace(r"\s+", " ", regex=True)
    .str.strip()
)

# Métricas
df["word_count"]  = df["review_clean"].str.split().str.len()
df["punct_count"] = df["review_clean"].str.count(r"[.,!?;:]")

# Evitar divisão por zero (sem numpy): substitui 0 por NA e divide
wc_safe = df["word_count"].replace(0, pd.NA)
df["punct_density"] = df["punct_count"].div(wc_safe)

# Resumos por sentimento (média/mediana)
summary = (
    df.groupby("sentiment")[["word_count", "punct_density"]]
      .agg(["mean", "median"])
      .round(3)
)

summary.head(3)

          word_count        punct_density
                mean median          mean median
sentiment
negative     229.465  174.0         0.120  0.113
positive     232.849  172.0         0.116  0.110

In [78]:
bins = 10  # ajuste se quiser
hist_like = pd.cut(df["word_count"], bins=bins).value_counts().sort_index()

hist_like

word_count
(1.534, 250.6]      35208
(250.6, 497.2]      10824
(497.2, 743.8]       2762
(743.8, 990.4]       1010
(990.4, 1237.0]       176
(1237.0, 1483.6]        9
(1483.6, 1730.2]        4
(1730.2, 1976.8]        3
(1976.8, 2223.4]        2
(2223.4, 2470.0]        2
Name: count, dtype: int64

---

# Tranformando para json

------

In [36]:
# df.to_csv('reviews_imdb_modificada.csv', index=False)

In [37]:
D = df.to_dict()
D['review'][0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [38]:
import json

stats = {
    'total_reviews': len(df),
    'avg_review_length': df['review_length'].mean(),
    'perc_contains_amazing': df['contains_amazing'].mean()
}

with open('reviews_imdb_completo.json', "w") as f:
    json.dump(stats, f)

In [39]:
with open('reviews_imdb_completo.json', 'r') as f:
    data = json.load(f)

data

{'total_reviews': 50000,
 'avg_review_length': 1309.43102,
 'perc_contains_amazing': 0.04958}

----

# Transformando para classes

----

In [66]:
class Review:
    def __init__(self, text, sentiment):
        self.text = text
        self.sentiment = sentiment  # 'positive' ou 'negative'
        self.length = len(text)
        self.lower = text.lower()

    def contains(self, word):
        return f" {word.lower()} " in f" {self.lower} "

    def category(self):
        if self.length < 200: 
            return "short"
        elif self.length < 600: 
            return "medium"
        elif self.length < 2000: 
            return "long"
        return "very_long"

    def toggle_sentiment(self):
        self.sentiment = "negative" if self.sentiment == "positive" else "positive"

    def summary(self, n=80):
        txt = (self.text[:n] + "...") if len(self.text) > n else self.text
        return f"[{self.sentiment} | {self.length} chars | {self.category()}] {txt}"

    # extras bem simples (opcionais)
    def strip_br(self):
        self.text = self.text.replace("<br />", " ").replace("<br/>", " ")
        self.lower = self.text.lower()
        self.length = len(self.text)
        return self

    def has_any(self, words):
        w = self.lower
        return any(f" {word.lower()} " in f" {w} " for word in words)

    def replace_word(self, old, new):
        self.text = self.text.replace(old, new)
        self.lower = self.text.lower()
        self.length = len(self.text)
        return self


    def __repr__(self):
        prev = (self.text[:40] + "…") if len(self.text) > 40 else self.text
        return f"Review(len={self.length}, sentiment='{self.sentiment}', preview={prev!r})"

In [69]:
N = 3
reviews = [Review(txt, sent) for txt, sent in zip(df["review"].head(N), df["sentiment"].head(N))]
for r in reviews:
    r.strip_br()

reviews

[Review(len=1731, sentiment='positive', preview='One of the other reviewers has mentioned…'),
 Review(len=968, sentiment='positive', preview='A wonderful little production.   The fil…'),
 Review(len=906, sentiment='positive', preview='I thought this was a wonderful way to sp…')]

In [68]:
ordenadas = sorted(reviews, key=lambda r: r.length, reverse=True)
print("\n== Top 2 por comprimento ==")
for r in ordenadas[:2]:
    print("-", r.summary(100))

print("\n== Toggle do sentimento da primeira review ==")
print("Antes :", reviews[0].summary(60))
reviews[0].toggle_sentiment()
print("Depois:", reviews[0].summary(60))

== Top 2 por comprimento ==
- [positive | 1731 chars | long] One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. The...
- [positive | 968 chars | long] A wonderful little production.   The filming technique is very unassuming- very old-time-BBC fashion...

== Toggle do sentimento da primeira review ==
Antes : [positive | 1731 chars | long] One of the other reviewers has mentioned that after watching...
Depois: [negative | 1731 chars | long] One of the other reviewers has mentioned that after watching...